/** @define BalanceBar; use strict */

.BalanceBar {}

.BalanceBar-child {}

.BalanceBar-child.is-state {}

.balanceBar {
  width: 100%;
  height: 18px;
  margin: 0px auto 8px;
  border-radius: 8px;
  overflow: hidden;
}

.balanceSection {
  display: inline-block;
  height: 18px;
  font-size: 10pt;
  vertical-align: top;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.balanceSection p {
  margin: 0;
  padding: 3px;
}

.spent {
  background-color: #ff9900;
  transition: width .4s ease-in-out;
  border-radius: 8px;
  height: 18px;
}

.spending {
  background-color: #9098d3;
  transition: width .4s ease-in-out;
  border-radius: 0 8px 8px 0;
  height: 18px;
}

.left {
  background-color: #6fcccc;
  transition: width .4s ease-in-out;
  border-radius: 0 8px 8px 0;
  height: 18px;
}

#balanceBarBalance {
  position: absolute;
}

#balanceBarBalance p {
  margin: 3px 0px;
}


@media all and (min-width: 415px) {

  .balanceBar {
    width: 325px;
    margin: 0px auto 8px;
  }

}