/** @define Input; use strict */

.Input {
  width: 100%;
  font-size: 13px;
  color: #494949;
  height: 34px;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
}

.Input:focus {
  outline: none;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(201,201,201,0.50);
  z-index: 2;
}

.Input--required::-webkit-input-placeholder {
   color: #FF3366;
}

.Input--required:-moz-placeholder {
   color: #FF3366;
}

.Input--required::-moz-placeholder{
   color: #FF3366;
}

.Input--required:-ms-input-placeholder {
   color: #FF3366;
}

.Input-child {}

.Input-child.is-state {}
