/** @define Home; use strict */
@import 'normalize.css';

.Home {

}

body, html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14pt;
  color: #606060;
  height: 100%;
  padding: 0;
  margin: 0;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-item {
  width: 500px;
  height: 50px;
  line-height: 50px;
  text-align: left;
  /*border: 1px solid black;*/
}

.menu-item img {
  vertical-align: middle;
}

.menuOptionList {
  display: inline;
}

.menuOptionListItem {
  display: inline-block;
  list-style-type: none;
  height: 30px;
  width: 60px;
  line-height: 30px;
  vertical-align: middle;
  margin-right: 6px;
  border-radius: 3px;
  text-align: center;
}

.navselected {
  color: #ff9900;
  background: #ffffff;
  border: 3px solid #ffffff;
}

.navunselected {
  color: #ffffff;
  background: #9098d3;
  border: 3px solid #ffffff;
}

.navdisabled {
  color: #cccccc;
  background: #9098d3;
  border: 3px solid #cccccc;
}

/* other */
#app {
	width: 100%;
	height: 100%;
}

.AppBase {
	width: 100%;
	height: 100%;
}

h1 {
  color: #ff9900;
  font-size: 1.8em;
}