/** @define Options; use strict */

.Options {}

.Options-child {}

.Options-child.is-state {}

.sectionIcon {
  width: 150px;
}

.hidden {
    display: none;
}

.btn-group button {
	min-width: 272px;
}

.accordionDesc {
	margin-bottom: 8px;
	font-size: .8em;
}