/** @define LeftNav; use strict */

.LeftNav {
  background-color: #fff;
  bottom: 0;
  left: -250px;
  position: fixed;
  top: 0;
  transition: left 0.3s;
  width: 250px;
  z-index: 10;
}

.LeftNav.is-open {
  left: 0px;
}

