/** @define App; use strict */
@import 'normalize.css';

.App {

}

/* appBar Styling */
#appBar {
  background-color: #ff9900;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
}

#appBar h1 {
  margin: 3px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 41px;
}

/*Remove App Name in h1 on tiny devices*/
@media (max-width: 270px) {
	#appBar h1 {
		display: none;
	}
}

#appBar .fa {
	font-size: 24pt;
}

#menuButton {
	margin-top: 6px;
	margin-right: 19px;
	margin-left: auto;
}

/* Flexbox layout */
#appWrapper {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  justify-content: center;
}

#appWrapper, #appBarContainer, .appBody, .balance {
	flex: 1 100%;
}

.appBody, .balance {
	text-align: center;
}

.hidden {
	display: none;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #606060;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.social {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #9098d3;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

i {
  padding: 10px;
}

.fa-facebook {
  margin-left: 25px;
}

@media all and (min-width: 415px) {
  #appBar {
    min-height: 64px;
  }

  #appBar h1 {
    margin: 0;
    line-height: 64px;
    font-size: 24px;
  }

  #menuButton {
    margin-top: 16px;
  }
}

@media all and (min-width: 800px) {
	.appBody { 
		flex: 0 800px; 
		padding: 0px 24px;
	}

	.balance {
		flex: 1 100%;
		padding: 0px 24px;
	}
}