/** @define AppBody; use strict */

.AppBody {}

.AppBody-child {}

.AppBody-child.is-state {}

.btn-group span > div:nth-child(1),
#actionButton > div, 
#beginState > div {
	width: 98%;
}

@media all and (min-width: 414px) {
	.btn-group span > div:nth-child(1),
	#actionButton > div, 
	#beginState > div { 
		width: 350px;
	}
}

.sectionIcon {
  width: 150px;
}

.hidden {
    display: none;
}

.accordionDesc {
	margin-bottom: 8px;
	font-size: .8em;
}

.button {
  margin: auto;
  width: 275px;
  /*height: 30px;
  line-height: 30px; */
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 3px solid black;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.next {
  color: #ffffff;
  background: #ff9900;
  border: 3px solid #ff9900;
}

.next:hover {
  background: #ffad32;
}

.selected {
  color: #ffffff;
  background: #9098d3;
  border: 3px solid #9098d3;
}

.selected:hover {
  background: #b7bce2;
}

.unselected {
  color: #9098d3;
  background: #ffffff;
  border: 3px solid #9098d3;
}

.unselected:hover {
  color: #ffffff;
  background: #b7bce2;
}

.button[disabled] {
  color: #cccccc;
  background: #fff;
  border: 3px solid #cccccc;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #606060;
  text-align: center;
}

.social {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #9098d3;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 4px;
}

i {
  padding: 10px;
}

.fa-facebook {
  margin-left: 25px;
}

#endState a {
  display: inline-block;
  margin: 10px;
}